body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.main-content {
    margin-left: 320px;
    padding: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 2em;
    display: flex;
    align-items: center;
}

.header h1 img {
    margin-right: 10px;
    width: 50px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 250px;
    margin-right: 10px;
}

.search-bar button {
    background-color: #ffb84d;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
}

.box2-main-form-div {
display: flex;
flex-direction: column; 
justify-content: center; 
align-items: center;
padding: 20px;
padding-top: 25px;
border-radius: 5px;
border: 1px solid #0000002d;
background-color: white;
margin-top: 20px;
width: 1000px;
max-width: 1200px;
margin: 0 auto; 
}

.modify-regular-div {
display: flex;
align-items: center; 
justify-content: space-between; 
margin-bottom: 30px;
width: 100%; 
max-width: 900px; 
}

.modify-regular-div label {
width: 20%;
text-align: left;
font-size: medium;
}

.form-control {
width: 100%;
max-width: 700px; 
padding: 10px;
border-radius: 5px;
border: 1px solid #0000002d;
}

.modify-regular-div-button {
width: 200px;
padding: 8px;
border-radius: 5px;
border: 1px solid;
margin-top: 10px;
}

.modify-regular-div-button:hover {
background-color: #333;
color: #fff;
cursor: pointer;
}

.modify-regular-div-buttons-container {
display: flex;
justify-content: center; 
gap: 20px; 
width: 100%;
max-width: 900px;
}

.footer {
text-align: center;
margin-top: 40px;
font-size: 0.8em;
color: #888;
}
