RewriteEngine On



RewriteRule "^([a-zA-Z]+)/?$" "index.php?language=en&controller=user&action=login" [L]

# Rule for just /controller ( by default goes to login)
RewriteRule "^([a-zA-Z]+)/?$" "index.php?language=$1&controller=$2&action=login" [L]

# Rule for /controller/action ( /office/OfficeView)
RewriteRule "^([a-zA-Z]+)/([a-zA-Z]+)/?$" "index.php?language=$1&controller=$2&action=$3" [L]

# Rule for /controller/action/id ( /office/view/123)
RewriteRule "^([a-zA-Z]+)/([a-zA-Z]+)/([a-zA-Z0-9_]+)/?$" "index.php?language=$1&controller=$2&action=$3&id=$4" [L]
